html,
body {
  width: 100%;
  overflow-x: hidden;

  font-family: var(--font-primary);
  margin: 0;
  padding: 0;

  background:

  radial-gradient(
    circle at top left,
    rgba(50, 120, 80, 1),
    transparent 40%
  ),

  linear-gradient(
    180deg,
    #102f22,
    #07150f
  );
  
}