html,
body {
  
  font-family: var(--spacegrostesk);
  margin: 0;
  padding: 0;

  background:
  radial-gradient(
    circle at top left,
    rgba(50, 120, 80, 0.35),
    transparent 40%
  ),
  linear-gradient(
    180deg,
    #102f22,
    #07150f
  );
  
}