.recentWork {
  padding: 6rem 2rem;
  color: azure;
}

.heading {
  text-align: center;
}

.heading h2 {
  font-size: 4rem;
  letter-spacing: -0.05em;
}


.project {
  max-width: 1200px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 4rem;

  align-items: start;
}

.media {
  position: relative;
  width: 100%;
  min-height: 420px;
  border-radius: 24px;
  overflow: hidden;
}


.image {
  object-fit: cover;
}


.content h3 {
  font-size: 3rem;
  margin: 0;
  padding-bottom: 3rem;
}


.content p {
  line-height: 1.7;
  opacity: 0.75;
  margin:0  
}


.content button {
  padding: 1rem 2rem;
  border-radius: 999px;
  border: none;
  cursor: pointer;
}

@media (max-width: 900px) {
  .project {
    grid-template-columns: 1fr;
  }

  .media {
    min-height: 300px;
  }
}