.switcher {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  color:white;
}

.item {
  display: flex;
  align-items: center;
}

.divider {
  margin: 0 6px;
  opacity: 0.4;
}

.active {
  font-weight: 600;
  opacity: 1;
  color: white;
  text-decoration: none;
}

.inactive {
  color: white;
  font-weight: 400;
  opacity: 0.5;
  transition: opacity 0.15s ease;
  text-decoration: none;
}

.inactive:hover {
  color: white;
  opacity: 0.8;
}
