.hero {
  position: relative;
  height: fit-content;
  padding-block: 9rem;
}

.content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  justify-content: center;
  width:100%;
  
}

.typing {
  display: flex;
  justify-content: center;
}

.title {
  display: inline-block;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;

  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid white;

  animation:
    typing 3s steps(27) forwards,
    cursor 0.7s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 27ch;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}